<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    <style>
        /* Tus estilos CSS aquí */
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Empleado</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
        </form>
        <button onclick="location.href='{% url 'pantalla_principal' %}'">Cancelar</button>
    </div>
</body>
</html>
